/* 
colors
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #c4f82a;
  --background-color: #141414;
  --container-color: #1f1f1f;
  --link-background-color: #333333;
  --white-color: #fff;
}
@font-face {
  font-family: 'inter';
  src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
body {
  font-family: 'inter';
  background-color: var(--background-color);
  color: var(--white-color);
}
.container {
  max-width: 120rem;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  letter-spacing: 0.7px;
  text-transform: capitalize;
}
.located {
  margin-bottom: 3.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--primary-color);
}
.job {
  font-weight: normal;
  font-size: 1.6rem;
}
/* card */
.card {
  width: 40rem;
  background-color: var(--container-color);
  position: absolute;
  padding: 2.8rem;
  text-align: center;
  border-radius: 1.2rem;
}
.link {
  display: flex;
  flex-direction: column;
}
.links {
  list-style: none;
  margin-top: 3.6rem;
}
.item {
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  color: var(--white-color);
  background-color: var(--link-background-color);
  padding-block: 1.2rem;
  border-radius: 1.2rem;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}
.item:hover {
  background-color: var(--primary-color);
  color: #141414;
}

li:not(li:last-child) {
  margin-bottom: 1.4rem;
}

@media screen and (max-width: 420px) {
  .card {
    width: 80%;
  }
}
